<div class="mapDiv">This is where the google map will be</div>
<div class="infoDiv1">This is where the Ship name and Ship Coordinates will be</div>
<div class="infoDiv2">this is where the description of the ship will be</div>
<div class="infoDiv3">This is where a list of all ships will be listed. <br> If possible I would like to be able to click on the ships name and have the ships description/name/coordinates displayed</div>
