

// <script type="text/javascript">
// //Here a namespace is created in order to render our instance variable throughout our application (in JS)
  var global = global || {};
  global.apiKey = '<%= @key %>';
// </script>

<header class="header">
  <img class="anchor3" src="/images/anchor.png" alt="" />
  <img class="headerPhoto" src="/images/wreckheader.png" alt=""/>

  <hr class="headLine">
</header>

<div class="yieldDiv">
  <div class="mapdiv">
    <div id="map"></div>
  </div>
  <a href="/data"><button class="button1">View Data</button></a>
  <div class="infoDiv1"><h3 class="known1">Name of wreck</h3>
    <hr class="indexLine">
    <div class="shipName"></div>
  </div>
  <div class="infoDiv2"><h3 class="known1">Year Lost</h3>
    <hr class='indexLine'>
    <div class="shipDesc2"></div>
  </div>
  <div class="infoDiv4"><h3 class="known1">Description</h3>
    <hr class="indexLine">
    <div class="shipDesc"></div>
  </div>





</div>
