

<script type="text/javascript">
//Here a namespace is created in order to render our instance variable throughout our application (in JS)
  var global = global || {};
  global.apiKey = '<%= @key %>';
</script>




<div id="map">This is where the google map will be</div>

<div class="infoDiv1">This is where the Ship name and Ship Coordinates will be</div>

<div class="infoDiv2">this is where the description of the ship will be</div>



<div class="infoDiv3">

  <ul id="ship-list">
    <li>some nonsense</li>
    <!-- backbone collection will fill this $el -->
  </ul>


  <script type="text/template" id="wrecks">
    <li>Name of Wreck: <%%=name%>, Latitude: <%%=latitude%>, Longitude: <%%=longitude%>, Year lost: <%%=yearlost%>, Description: <%%=description%></li>
  </script>

</div>
