

<script type="text/javascript">
//Here a namespace is created in order to render our instance variable throughout our application (in JS)
  var global = global || {};
  global.apiKey = '<%= @key %>';
</script>



<div class="mapdiv">
  <div id="map"></div>

<div class="infoDiv1"><h3 class="known">Name of wreck</h3>
  <hr>
</div>

<div class="infoDiv2"><h3 class="known">Description</h3>
  <hr>
</div>

</div>


<div class="infoDiv3">
<hr>
<h3 class="known">Shipwrecks of Lake Michigan with known coordinates</h3>
<hr>

  <ul id="ship-list">
    <li>some nonsense</li>
    <!-- backbone collection will fill this $el -->
  </ul>


  <script type="text/template" id="wrecks">
    <li class="wrecks"><strong>Name of Wreck:</strong> <%%=name%><br> <strong>Latitude:</strong>  <%%=latitude%><br>  <strong>Longitude:</strong>  <%%=longitude%><br>  <strong>Year lost:</strong>  <%%=yearlost%><br>  <strong>Description:</strong>  <%%=description%></li><br>
  </script>

</div>
