<script type="text/javascript">
//Here a namespace is created in order to render our instance variable throughout our application (in JS)
  var global = global || {};
  global.apiKey = '<%= @key %>';
</script>
<div class=welcomeDiv>
  <img class="mainLogo" src="/images/mainLogo.png" alt=""/>
</div>
<hr class="welcomeHr">

<a href="home/"><button class="button">View Shipwreck Map</button></a>
