<!DOCTYPE html>
<html>
<head>
  <title>Wrecked</title>
  <script src="https://maps.googleapis.com/maps/api/js"></script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>


</head>

<body>
  <header class="header">
  <h1>Wrecked</h1>
  <h3>An informative guide to shipwrecks <br> in Lake Michigan with known locations  </h3>
  </header>

<%= yield %>

</body>
</html>
