<!DOCTYPE html>
<html>
<head>
  <title>Wrecked</title>
  <script src="https://maps.googleapis.com/maps/api/js"></script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
<link href='https://fonts.googleapis.com/css?family=Cinzel|Wire+One|Italiana|Raleway' rel='stylesheet' type='text/css'>

</head>

<body>
  <header class="header">


  </header>
<div class="yieldDiv">
  <%= yield %>
</div>


</body>
</html>
